<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <title>成長記録アプリ！！！</title>
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/test02.css')}}">	
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <!-- ヘッダーを継承 -->
    {% block head %}{% endblock %}
</head>


<body>
  
    <div id="particles-js"></div>
    <!-- <nav class="navbar navbar-light p-3"> -->
      <div class="container-fluid">
        <a id="test_font" role="button" class="navbar-brand h1" href="/" style="font-size: 4rem; color: white;">RECORD GROWTH</a>
      </div>
    <!-- </nav> -->
    <!-- ボディを継承 -->
    {% block body %}{% endblock %}
    <div id="navArea">
      <nav>
        <div class="inner">
          <ul>
            <li><a href="#">Username: {{ username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
      
      <div class="toggle_btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    
      <div id="mask"></div>
    
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{url_for('static', filename='js/test02.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/burger.js"></script>
</body>
</html>