{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/mandala.css" >
<script type="text/javascript" src="../static/js/mandala.js"></script>
{% endblock %}

{% block body %}
<div id="mandala_main">
    <div class="title"><textarea id="tiltle-textarea"></textarea></div>
    <div class="grid-container">
        <div class="column1">
            <div class="column1-1"><textarea id="column1-1-textarea"></textarea></div>
            <div class="column1-2"><textarea id="column1-2-textarea"></textarea></div>
            <div class="column1-3"><textarea id="column1-3-textarea"></textarea></div>
            <div class="column1-4"><textarea id="column1-4-textarea"></textarea></div>
            <div class="column1-5"><textarea id="column1-5-textarea"></textarea></div>
            <div class="column1-6"><textarea id="column1-6-textarea"></textarea></div>
            <div class="column1-7"><textarea id="column1-7-textarea"></textarea></div>
            <div class="column1-8"><textarea id="column1-8-textarea"></textarea></div>
            <div class="column1-9"><textarea id="column1-9-textarea"></textarea></div>
        </div>
        <div class="column2">
            <div class="column2-1"><textarea id="column2-1-textarea"></textarea></div>
            <div class="column2-2"><textarea id="column2-2-textarea"></textarea></div>
            <div class="column2-3"><textarea id="column2-3-textarea"></textarea></div>
            <div class="column2-4"><textarea id="column2-4-textarea"></textarea></div>
            <div class="column2-5"><textarea id="column2-5-textarea"></textarea></div>
            <div class="column2-6"><textarea id="column2-6-textarea"></textarea></div>
            <div class="column2-7"><textarea id="column2-7-textarea"></textarea></div>
            <div class="column2-8"><textarea id="column2-8-textarea"></textarea></div>
            <div class="column2-9"><textarea id="column2-9-textarea"></textarea></div>
        </div>
        <div class="column3">
            <div class="column3-1"><textarea id="column3-1-textarea"></textarea></div>
            <div class="column3-2"><textarea id="column3-2-textarea"></textarea></div>
            <div class="column3-3"><textarea id="column3-3-textarea"></textarea></div>
            <div class="column3-4"><textarea id="column3-4-textarea"></textarea></div>
            <div class="column3-5"><textarea id="column3-5-textarea"></textarea></div>
            <div class="column3-6"><textarea id="column3-6-textarea"></textarea></div>
            <div class="column3-7"><textarea id="column3-7-textarea"></textarea></div>
            <div class="column3-8"><textarea id="column3-8-textarea"></textarea></div>
            <div class="column3-9"><textarea id="column3-9-textarea"></textarea></div>
        </div>
        <div class="column4">
            <div class="column4-1"><textarea id="column4-1-textarea"></textarea></div>
            <div class="column4-2"><textarea id="column4-2-textarea"></textarea></div>
            <div class="column4-3"><textarea id="column4-3-textarea"></textarea></div>
            <div class="column4-4"><textarea id="column4-4-textarea"></textarea></div>
            <div class="column4-5"><textarea id="column4-5-textarea"></textarea></div>
            <div class="column4-6"><textarea id="column4-6-textarea"></textarea></div>
            <div class="column4-7"><textarea id="column4-7-textarea"></textarea></div>
            <div class="column4-8"><textarea id="column4-8-textarea"></textarea></div>
            <div class="column4-9"><textarea id="column4-9-textarea"></textarea></div>
        </div>
        <div class="center-column5">
            <div class="column5-1"><textarea id="column5-1-textarea"></textarea></div>
            <div class="column5-2"><textarea id="column5-2-textarea"></textarea></div>
            <div class="column5-3"><textarea id="column5-3-textarea"></textarea></div>
            <div class="column5-4"><textarea id="column5-4-textarea"></textarea></div>
            <div class="column5-5"><textarea id="column5-5-textarea"></textarea></div>
            <div class="column5-6"><textarea id="column5-6-textarea"></textarea></div>
            <div class="column5-7"><textarea id="column5-7-textarea"></textarea></div>
            <div class="column5-8"><textarea id="column5-8-textarea"></textarea></div>
            <div class="column5-9"><textarea id="column5-9-textarea"></textarea></div>
        </div>
        <div class="column6">
            <div class="column6-1"><textarea id="column6-1-textarea"></textarea></div>
            <div class="column6-2"><textarea id="column6-2-textarea"></textarea></div>
            <div class="column6-3"><textarea id="column6-3-textarea"></textarea></div>
            <div class="column6-4"><textarea id="column6-4-textarea"></textarea></div>
            <div class="column6-5"><textarea id="column6-5-textarea"></textarea></div>
            <div class="column6-6"><textarea id="column6-6-textarea"></textarea></div>
            <div class="column6-7"><textarea id="column6-7-textarea"></textarea></div>
            <div class="column6-8"><textarea id="column6-8-textarea"></textarea></div>
            <div class="column6-9"><textarea id="column6-9-textarea"></textarea></div>
        </div>
        <div class="column7">
            <div class="column7-1"><textarea id="column7-1-textarea"></textarea></div>
            <div class="column7-2"><textarea id="column7-2-textarea"></textarea></div>
            <div class="column7-3"><textarea id="column7-3-textarea"></textarea></div>
            <div class="column7-4"><textarea id="column7-4-textarea"></textarea></div>
            <div class="column7-5"><textarea id="column7-5-textarea"></textarea></div>
            <div class="column7-6"><textarea id="column7-6-textarea"></textarea></div>
            <div class="column7-7"><textarea id="column7-7-textarea"></textarea></div>
            <div class="column7-8"><textarea id="column7-8-textarea"></textarea></div>
            <div class="column7-9"><textarea id="column7-9-textarea"></textarea></div>
        </div>
        <div class="column8">
            <div class="column8-1"><textarea id="column8-1-textarea"></textarea></div>
            <div class="column8-2"><textarea id="column8-2-textarea"></textarea></div>
            <div class="column8-3"><textarea id="column8-3-textarea"></textarea></div>
            <div class="column8-4"><textarea id="column8-4-textarea"></textarea></div>
            <div class="column8-5"><textarea id="column8-5-textarea"></textarea></div>
            <div class="column8-6"><textarea id="column8-6-textarea"></textarea></div>
            <div class="column8-7"><textarea id="column8-7-textarea"></textarea></div>
            <div class="column8-8"><textarea id="column8-8-textarea"></textarea></div>
            <div class="column8-9"><textarea id="column8-9-textarea"></textarea></div>
        </div>
        <div class="column9">
            <div class="column9-1"><textarea id="column9-1-textarea"></textarea></div>
            <div class="column9-2"><textarea id="column9-2-textarea"></textarea></div>
            <div class="column9-3"><textarea id="column9-3-textarea"></textarea></div>
            <div class="column9-4"><textarea id="column9-4-textarea"></textarea></div>
            <div class="column9-5"><textarea id="column9-5-textarea"></textarea></div>
            <div class="column9-6"><textarea id="column9-6-textarea"></textarea></div>
            <div class="column9-7"><textarea id="column9-7-textarea"></textarea></div>
            <div class="column9-8"><textarea id="column9-8-textarea"></textarea></div>
            <div class="column9-9"><textarea id="column9-9-textarea"></textarea></div>
        </div>
    </div>
    <!-- <a href="#" onclick="deletelocalstrage()">クリア</a> -->
    <button id="testbutton" onclick="send_test()">送信</button>
</div>
{% endblock %}