{% extends "base.html" %}

{% block body %}
<div class="card mx-auto" style="color: black; width: 70%; max-width: 800px;">
  <h5 class="card-header" style="padding: 10px;">今日の記録</h5>
  <div class="card-body" style="padding: 25px; padding-bottom: 0px;">
    <form action="/create" method="post">
    <div class="mb-3 pb-3 d-grid gap-2 col mx-auto">
      <label face='Times New Roman' for="goal">目標</label>    
      <input type="text" name="goal">
    </div>

      <div class="mb-3 pb-3 d-grid gap-2 col mx-auto">
        <label face='Times New Roman'  for="detail">詳細</label>  
        <input type="text" name="detail">    
      </div>  

      <div class="mb-3 pb-3 d-grid gap-2 col mx-auto">
        <label for="achievement">達成度</label>
        <nobr>
        <input type="range" min="0" max="100" step="5" value="50" id="achievement" name="achievement" 
                oninput="document.getElementById('output1').value=this.value">
        <output id="output1" >50</output> 
        <nobr>
      </div>  

      <p id="msg"></p>

      <div class="mb-3 pb-3 d-grid gap-2 col mx-auto">
        <label for="create_at">日付</label>
        <input type="date" name="create_at" id="create_at">
      </div>
      <br>
      <div class="mb-3 pb-3 d-grid gap-2 col mx-auto"> 
      <button type="submit" class="btn btn-primary" id="btn">Create</button>
      <a href="/" role="button" class="btn btn-secondary" >Return</a>     
      </div>
    </form>
    </div>
  </div>
<script type="text/javascript">

// function inputChange(event){
//   msg.innerText =  achievement.value + '%'; // コメントを入れられる場所
// }

// スライダーに数字をいれる部分
// let slider = document.getElementById('achievement');
// achievement.addEventListener('input', inputChange);
// let msg = document.getElementById('msg');

    //今日の日時を表示
        window.onload = function () {
            //今日の日時を表示
            // 初期値を当日にする
            var date = new Date()
            var year = date.getFullYear()
            var month = date.getMonth() + 1
            var day = date.getDate()
          
            var toTwoDigits = function (num, digit) {
              num += ''
              if (num.length < digit) {
                num = '0' + num
              }
              return num
            }
            
            var yyyy = toTwoDigits(year, 4)
            var mm = toTwoDigits(month, 2)
            var dd = toTwoDigits(day, 2)
            var ymd = yyyy + "-" + mm + "-" + dd;
            
            document.getElementById("create_at").value = ymd;
        }
        
        // 記録されたらTrueを返して、失敗したらFalseを返すなどして、
        // それによって返すメッセージを変える
        btn.addEventListener('click', function() {
          window.confirm('今日もおつかれさま');
        })
        
</script>
{% endblock %}
