{% extends "base.html" %}

{% block head %}
<form action="/" method="post">
    <label for="goal">目標</label>
    <input type="text" name="goal">
    <label for="detail">詳細</label>
    <input type="text" name="detail">
    <label for="achievement">達成度</label>
    <input type="number" name="achievement">
    <label for="create_at">日付</label>
    <input type="date" name="create_at" id="create_at">
    <input type="submit" value="Create">
</form>

<script type="text/javascript">
    //今日の日時を表示
        window.onload = function () {
            //今日の日時を表示
            var date = new Date()
            var year = date.getFullYear()
            var month = date.getMonth() + 1
            var day = date.getDate()
          
            var toTwoDigits = function (num, digit) {
              num += ''
              if (num.length < digit) {
                num = '0' + num
              }
              return num
            }
            
            var yyyy = toTwoDigits(year, 4)
            var mm = toTwoDigits(month, 2)
            var dd = toTwoDigits(day, 2)
            var ymd = yyyy + "-" + mm + "-" + dd;
            
            document.getElementById("create_at").value = ymd;
        }
</script>
{% endblock %}