{% extends "base.html" %}

{% block body %}

<div class="flex">
    <a href="create" class="btn btn-c btn--green btn--cubic" role="button">
        <i class="fa fas fa-envelope"></i>
        Today's Record
    </a>
    <a href="detail" class="btn btn-c btn--blue btn--cubic" role="button">
        <i class="fa fas fa-envelope"></i>
        Your History
    </a>
    <a href="create_mandala" class="btn btn-c btn--yellow btn--cubic" role="button">
        <i class="fa fas fa-envelope"></i>
        Mandala Chart
    </a>
</div>

{% endblock %}