{% extends 'base.html' %}
{% block body %}

<div class="card" style="color: black; margin-left: 15%; margin-right: 15%;">
    <div class="card-header">
      <h4 class="black">Login</h4>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label for="" class="form-label">User Name</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>

        {% if messages != "" %}
            <div class="alert-danger" style="margin-top: 15px;">
                <p>{{ messages }}</p>
            </div>
        {% endif %}
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
    <a class="btn btn-info" type="button" href="/signup" style="color: white; text-decoration: none;">新規登録</a>
  </div>


<!-- <form method="POST">
    <label for="">ユーザ名</label>
    <input type="text" name="username">
    <label for="">パスワード</label>
    <input type="password" name="password">
    <input type="submit" value="ログイン">
</form> -->
{% endblock %}