<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>テスト2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="../static/css/test02.css">	

</head>
<body>
<div id="particles-js"></div>
<nav class="navbar navbar-light p-3">
    <div class="container-fluid">
      <a id="test_font" class="navbar-brand h1" href="/" style="font-size: 4rem; color: white;">TEST DIPA KIDS</a>
    </div>
</nav>
<div class="d-grid gap-2 col-6 mx-auto mt-5">
    <a href="create" role="button" class="btn btn-primary">今日の記録</a>
    <a href="detail" role="button" class="btn btn-warning">過去の軌跡</a>
    <a href="create_mandala" role="button" class="btn btn-danger">マンダラチャート</a>
</div>

<!-- <div id="wrapper">
    <p>コンテンツが入ります</p>
</div> -->

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../static/js/test02.js"></script>
</body>
</html>